@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
/* html { overflow-y: scroll; } */
html{
  overflow: auto;
}

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

/* .futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
} */
.font{
font-family: 'Dosis', sans-serif;

font-family: 'Oswald', sans-serif;

font-family: 'Roboto', sans-serif;
}
ul{
  list-style-type: none;
}
body{
font-family: 'Roboto', sans-serif;
}
.wrapper{
  width: 75.4996%;
  max-width: 1020px;
  margin: 0 auto;
}


/* HEADER STARTS HERE */

.header{
  background: rgb(242 242 242);
}
.header .wrapper{
  height: auto;
}
.header .logo{
  width: 160px;
  /* width: 15.69%; */
  height: 50px;   
}
#burger{
  display: none;
}
.header .left{
  height: 50px;
  float: left;
  
}
.header .left .search{
  margin: 10.5px 0;
  float: left;
  font-family: 'Oswald', sans-serif;  
  font-size: 15px;
}
.search-bar input[type=text] {
  width: 180px;
  padding: 6px;
  border: none;
  margin-top: 0px;  
  background-color: rgb(225, 222, 222);
  font-size: 17px;
}
.header .wrapper .left .search button{
  border: none;  
  padding: 4.4px 10px;
  margin-top: 0px;
  margin-right: 16px;
  float: right;
  background: black;
  cursor: pointer;
  color: white;  
  font-size: 17px;
} 
.header .wrapper .left .free{
  padding: 14px 0;
  margin: 0 15px;
  color: rgb(105 99 118);
}
.header .wrapper .login{
  padding: 6.5px 0px;
  margin: 6.5px 0;
  float: right;
}
.header .wrapper .login a{
  padding: 16.5px 10px;
  background-color: rgba(221, 218, 218, 0.172);
  text-decoration: none;
  color: gray;
}
.wrapper:after {
  clear: both;
  display: block;
  content: "";
}
/* HEADER ENDS HERE */

/* SUB-HEADER STARTS HERE */
.header .sub-header{
  background-color: black;
}
.sub-header{
  /* height: 34px; */
  height: auto;
}
.header .sub-header .dropdown {
  padding: 8px 7px;
  display: inline-block;
  position: relative; 
}
.header .sub-header .dropdown:first-child {
  padding: 8px 7px 8px 0px;
}
.header .sub-header .dropdown span{
  color:rgb(220 220 220);
  cursor:pointer;
}
.header .sub-header .dropdown-content {
  min-width: 160px;
  padding: 12px 16px;
  display: none;
  position: absolute;
  background-color: #f9f9f9;  
  z-index: 1;
}
.header .sub-header .dropdown:hover .dropdown-content {
  display: block;  
}
.header .sub-header .dropdown-content a{
  text-decoration: none;
  color: gray;  
}
.header .sub-header .explore{
  float: right;
}
.header .sub-header .dropdown .yellow{
color: rgb(251 218 24);
}
/* SUB-HEADER ENDS HERE */
/* BANNER STARTS HERE */

.banner{
  height: 60vh;
  position: relative;  
  background-color:rgb(196 199 179);
}
.banner img{
  width: 100%;
  height: 60vh;
}
.banner .wrapper h2{
  position: absolute; 
  top: 72px;
  /* left: 696px; */
  left: 51.55555%;
  letter-spacing: 3.5px; 
  font-size: 40px; 
}
.banner .wrapper .banner-span{  
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  letter-spacing: 15px;
} 
.banner .wrapper h4{
  position: absolute;  
  font-size: 17px;
  font-weight: 900; 
  font-family: 'Dosis', sans-serif; 
  top: 114px;
  /* left: 697px; */
  left: 51.55555%;  
  letter-spacing: 5.5px; 
}
.banner .wrapper h3{
  position: absolute; 
  color: rgb(161 27 34); 
  font-size: 20px;
  top: 153px;
  /* left: 807px; */
  left: 59.777777%;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.5px;  
}
.banner .wrapper .banner-hyperlink{
  margin: auto;
  position: absolute;    
  top: 235px;
  /* left: 654px; */
  /* left: 48.44444%; */
  left:49%;
  text-align: center;
}
.banner .wrapper .banner-hyperlink a{
  padding: 20px 50px;
  margin-left: 10px;
  border: solid white;
  border-width: 1px;
  background-color: rgb(103 104 94);
  color: white;
  font-size: 20px;
  text-decoration: none;  
}
/* BANNER ENDS HERE */
/* SUBBANNER STARTS HERE */
.subbanner {  
  margin-top: 43px;
  margin-bottom: 5px;
  overflow: auto;
  position: static;
}
.sub-banner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  }
.sub-banner .sub-banner-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.sub-banner h3{
  margin: 5px;  
  color: gray;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
}
.sub-banner .dropdown-content{
  display: none; 
}
.dropdown-conatainer{
  flex-direction: column;
}
.sub-banner .dropdown:hover .dropdown-content{
  display: block;
  flex-direction: column; 
}
.sub-banner .dropdown:hover .dropdown-content a{
  color: gray; 
  text-decoration: none;
}
.sub-banner a::after{
  content: "\a";
  white-space: pre;
}
.sub-banner .subbanner-img{
 margin-right: 35px;
}
.sub-banner .dropdown-conatainer{
  padding: 10px;
  flex-direction: column;
  justify-content: space-evenly;  
}
.sub-banner span{
  color: gray;
}
/* SUBBANNER ENDS HERE */
/* FITNESS STARTS HERE */
.fitness{
  position: relative;
}
.fitness img{
width: 100%;
height: 65vh;
}
.fitness .wrapper{
  position: absolute;
  top: 15px;
  left: 12.3612%;
}
.fitness h3{
  font-family: 'Oswald', sans-serif;
  color: gray;
  font-size: 20px;
}
/* FITNESS ENDS HERE */
/* WORLD OF REEBOK STARTS HERE */
.world-of-reebok{
  position: static;
}
.world-of-reebok .wrapper{ 
  padding-bottom: 10px;
  overflow: auto;
}
.world-of-reebok h3{
  margin-top: 45px;
  margin-bottom: 25px;
  font-family: 'Oswald', sans-serif;
  color: gray;
  font-size: 20px;  
  left: 0%;
}
.world-of-reebok ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.world-of-reebok ul li img{
  width: 15vw;  
}
.world-of-reebok ul li {
  width: 23%;
}
.world-of-reebok ul li h5{  
  margin: 20px 0px 42px 20px;
}
/* WORLD OF REEBOK ENDS HERE */
/* FOOTER STARTS HERE */
.footer {
  background-color: rgb(50, 51, 48);
}
.footer .wrapper ul{
  overflow: auto;
}
.footer .wrapper ul li{
  padding: 15px; 
  display: inline-block;  
}
.footer .wrapper ul li:first-child{
  padding-left: 0;
}
.footer .wrapper ul li a{
  margin: 10px;
  margin-left: 0px;
  color: white;
  text-decoration: none;
  font-size: 15px;
}
.footer .wrapper .border{
  border-left: solid rgb(35, 36, 34);
  border-right: solid rgb(35, 36, 34);
  border-width: 5px;
}
/* SUBFOOTER */
.sub-footer{
  background-color: rgb(60, 55, 55);
}
.sub-footer .wrapper{
  overflow: auto;
}
.sub-footer .wrapper {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
 
}
.sub-footer .wrapper h5{  
  margin-top: 25px;
  color: gray;
  font-size: 15px;
}
.sub-footer .wrapper a{
  color: rgb(231, 220, 220);
  text-decoration: none;
}
.sub-footer .wrapper p{
  padding: 4px 0px;
  font-size: 12px;
}
.sub-footer .wrapper .fb-share{
  margin-top: 50px;
}
.sub-footer .wrapper{
  padding-bottom: 30px;
}

/* SIGN-UP */
.sign-up{
  background-color: rgb(90, 81, 81);
}
.sign-up .wrapper{
  height: 75px;
}
.sign-up p{
  padding: 30px 0;
  float: left;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 25px;
}
.sign-up span{
  color: rgb(194, 37, 53);
}
.sign-up button{
  margin: 28px;
  padding: 7px 50px;
  border: none;
  border-radius: 4px;
  float: right;
  background-color: rgb(194, 37, 53);  
  color: #f9f9f9;
}
.sign-up:after {
  clear: both;
  display: block;
  content: "";
}
/* PAYMENT */
.payment{
  background-color: rgb(60, 55, 55);
  padding-bottom: 50px;
}
.payment ul{
  height: 75px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}
.payment li{
  margin: 30px 10px;
}
.payment img{
  max-width: 70px;
}
.copyright{
  background-color: rgb(60, 55, 55);
  }
  .copyright .wrapper{
   display: flex; 
  padding-bottom: 10px; 
  }
  .copyright .wrapper p{   
    margin: 0 auto;
    color: gray;
    font-size: 12px;   
  }
  .copyright .wrapper img{
    max-width: 70px;
    max-height: 30px;
  }
/* FOOTER ENDS HERE */

  /* RESPONSIVE */
  @media screen and (max-width: 1218px){

    .header .logo{
      width: 140px;
      /* width: 15.69%; */
      height: 50px;   
    }
    .header .wrapper .left .search button{
      margin-right: 5px;
    } 
    .header .wrapper .left .free{
      padding: 5px 0;
      margin: 0 10px;
      
    }
    .footer .wrapper ul li:first-child{
    /* margin-left: 25%; */
    padding-left: 16%;
  }
    .footer .wrapper ul li:last-child{
      margin-left: 30%;
    }
    .footer .wrapper .border{
     
      border-right: none;
      border-width: 5px;
    }
  }
  @media screen and (max-width: 1024px){
   
    .header .logo{
      width: 140px;
      /* width: 15.69%; */
      height: 50px;   
    }
    .header .wrapper .left .search button{
      margin-right: 5px;
    } 
    .header .wrapper .left .free{
      padding: 5px 0;
      margin: 0 10px;      
    }
    .banner{
      position: relative;
      height: 70vh;
      background-color:rgb(196 199 179);
    }
    .banner img{
      width: 100%;
      height: 40vh;
    }
    .footer .wrapper ul li:last-child{
      margin-left: 25%;
    }
    #burger{
      display: none;
    }
  }
@media screen and (max-width: 995px) {
#burger{
  display: none;
}
header .free{
  display: none;
}
.search-bar input[type=text] {

  width: 150px;
}
.header .sub-header .dropdown {
  position: relative;
  display: inline-block;
  padding: 8px 2px;
}
  .banner{    
    height: 70vh;    
  }
  .banner img{
    width: 100%;
    height: 40vh;
  }
  .banner .wrapper h2{ 
    font-size: 30px;
    letter-spacing: 3.5px; 
    left: 30%; 
  }
  .banner .wrapper .banner-span{  
    letter-spacing: 15px;
  } 
  .banner .wrapper h4{ 
    font-size: 14px;
    letter-spacing: 5.5px; 
    left: 30%;
  }
  .banner .wrapper h3{ 
    font-size: 18px;
    letter-spacing: 0.5px;  
    left: 35%;
  }
  .banner .wrapper .banner-hyperlink{  
    top: 235px;
    /* left: 654px; */
    /* left: 48.44444%; */
    left:35%;
  }
  .banner .wrapper .banner-hyperlink a{
    font-size: 15px;
    padding: 15px 15px;
    margin-left: 10px;
  }
  .world-of-reebok ul li h5{  
    margin: 20px 0px 42px 0px;
    padding-right: 20px;
  }
.footer .wrapper ul li{
    margin-left:15px ;
  }
  .footer .wrapper ul li:first-child{
    /* margin-left: 25%; */
    padding: 15px;
    margin-right: 40%;
  }
  .footer .wrapper ul li:last-child{
    margin-left: 15px;
  }
.footer .wrapper .border{
  border-left: none;
  border-right: none;
  border-width: 5px;
}
.sign-up p{  
  padding: 30px 0 0 0;
}
.sign-up button{
  float: left; 
  margin: 30px 20px;
}
.sign-up:after {
  clear: both;
  display: block;
  content: "";
}
.payment{
 
  padding-bottom: 100px;
}
}
@media screen and (max-width: 767px){
   /* HEADER STARTS HERE */
.header .wrapper{
  height: auto;
  margin: 0;
  padding: 0;
  width: 90%;
}
.header .logo{
  width: 110px;
  /* width: 15.69%; */
  height: 50px;   
}

.header .left{
  
  height: 50px;
}
.header .left .search{

  margin: 10.5px 0;
  
}
.search-bar input[type=text] {
  padding: 6px;
  margin-top: 0px;
 
  width: 100px;
}
.header .wrapper .left .search button{
  
  padding: 4.4px 5px;
  margin-top: 0px;
  margin-right: 16px;
  
} 

.header .wrapper .login{
  float: right;
  padding: 6.5px 0px;
  margin: 6.5px 0;
}
.header .wrapper .login a{
  padding: 5px 5px;

}
.wrapper:after {
  clear: both;
  display: block;
  content: "";
}
/* HEADER ENDS HERE */
  /* .header .wrapper .login{
    float: left;
    padding: 6.5px 0px;
    margin: 6.5px 0;
  } */

/* SUB-HEADER STARTS HERE */
.header .sub-header{
  background-color: black;
}
.sub-header{
  /* height: 34px; */
  height: auto;
}
.header .sub-header .dropdown {

 display: none;
  position: relative;
  /* display: block; */
  padding: 8px 7px;
  margin: 0 auto;


}
/* .wrapper {
  clear: both;
  display: block;
  content: "";
} */
.sub-header .wrapper{
  /* text-align: center; */
  clear: both;
  display: block;
  content: "";
}
#burger{
  position: relative;
  display: inline-block;
  padding: 8px 7px;
  margin: 0 50%;

}
.sub-header .wrapper:hover .dropdown{
  display: block;  
}
.header .sub-header .dropdown:first-child {
  padding: 8px 7px 8px 0px;
}
.header .sub-header .dropdown span{
  color:rgb(220 220 220);
  cursor:pointer;
}
.header .sub-header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px;
  z-index: 1;
}
.header .sub-header .dropdown:hover .dropdown-content {
  display: block;  
}
.header .sub-header .dropdown-content a{
  text-decoration: none;
  color: gray;  
}
.header .sub-header .explore{
  float: left;
  /* align-content: center; */
}
.header .sub-header .dropdown .yellow{
color: rgb(251 218 24);
}
.banner .wrapper h2{
  position: absolute;  
  font-size: 30px;
  top: 72px;
  /* left: 696px; */
  /* left: 51.55555%; */
  left: 25%;
  letter-spacing: 3.5px;  
}
.banner .wrapper .banner-span{  
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  letter-spacing: 15px;
} 
.banner .wrapper h4{
  position: absolute;  
  font-size: 14px;
  font-weight: 900;  
  top: 114px;
  /* left: 697px; */
  /* left: 51.55555%; */
  left: 25%;
 
  letter-spacing: 5.5px; 
}
.banner .wrapper h3{
  position: absolute;  
  font-size: 18px;
  top: 153px;
  /* left: 807px; */
  /* left: 59.777777%; */
  left: 30%;
  
}
.banner .wrapper .banner-hyperlink{
  position: absolute;    
  top: 235px;
  /* left: 654px; */
  /* left: 48.44444%; */
  /* left:49%; */
  left: 25%;
  margin: auto;
  text-align: center;
}
.banner .wrapper .banner-hyperlink a{
  
  font-size: 20px;
  
  padding: 15px 15px;
  margin-left: 10px;

  border-width: 1px;
}
/* BANNER ENDS HERE */
  .world-of-reebok ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
    justify-content: space-around;
  }
  .world-of-reebok ul img{
    width: auto;
    height: auto;
  }
  .world-of-reebok ul li {
    width: auto;
    height: auto;
  }
}
@media screen and (max-width: 540px){
  .banner .wrapper{
    margin: 0;
    padding: 0;
    width: 90%;

  }
.banner .wrapper h2{
  position: absolute;  
  
  font-size: 20px;
  top: 15vw;
  /* left: 696px; */
  /* left: 51.55555%; */
  left: 10%;
  letter-spacing: 0.5px;  
}
.banner .wrapper .banner-span{  
  font-family: 'Dosis', sans-serif;
  font-weight: 100;
  letter-spacing: 5px;
} 
.banner .wrapper h4{
  position: absolute;  
  font-size: 14px;
  font-weight: 900;  
  top: 40vw;
  /* left: 697px; */
  /* left: 51.55555%; */
  left: 10%;
 
  letter-spacing: 2.5px; 
}
.banner .wrapper h3{
  position: absolute;  
  font-size: 18px;
  top: 55vw;
  /* left: 807px; */
  /* left: 59.777777%; */
  left: 10%;
  
}
.banner .wrapper .banner-hyperlink a{
  position: absolute; 
  font-size: 15px;  
  padding: 5px 5px;
  margin-left: 5px;
  border-width: 1px;
}
.banner .wrapper .banner-hyperlink a[title *="shop"] {
     
  top: 100px;
  /* left: 654px; */
  /* left: 48.44444%; */
  /* left:49%; */
  padding: 5px 26px;
  left: 5%;
  margin: auto;
  text-align: center;
  
}
.banner .wrapper .banner-hyperlink a[title *="learn"] {
     
  top: 150px;
  /* left: 654px; */
  /* left: 48.44444%; */
  /* left:49%; */
  padding: 5px 40px;
  left: 5%;
  margin: auto;
  text-align: center;
  
}

/* BANNER ENDS HERE */


}
@media screen and (max-width: 480px){
  /* HEADER STARTS HERE */


.header .wrapper{
  height: auto;
  margin: 0;
  padding: 0;
  width: 80%;
}
.header .logo{
  width: 110px;
  /* width: 15.69%; */
  height: 50px;   
}

.header .left{
  
  height: 50px;
}
.header .left .search-bar{
display: none;
  margin: 10.5px 0;
  
}
.search-bar input[type=text] {
  padding: 6px;
  margin-top: 0px;
 
  width: 100px;
}
.header .wrapper .left .search button{
  
  padding: 4.4px 5px;
  margin-top: 0px;
  margin-right: 16px;
  
} 

.header .wrapper .login{
  float: right;
  padding: 6.5px 0px;
  margin: 6.5px 0;
}
.header .wrapper .login a{
  padding: 5px 5px;

}
.header .wrapper .wishlist{
  display: none;
}
.wrapper:after {
  clear: both;
  display: block;
  content: "";
}
/* HEADER ENDS HERE */

  .payment{ 
    padding-bottom: 60vh;
  }

}
